@mixin bg-images-custom {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.managing-behaviour-bg {
    background: url('../images/bg-managing-behavior.jpg') no-repeat center center;
    @include bg-images-custom;
    @include media-breakpoint-down(md) {
        display: none;
    }
}