.common-button-assets {
    font-size: $h4-font-size;
    @extend .font-weight-bold;
    @extend .br-sm;
    padding: $spacer * 1.119 $spacer * 3.944;
}

.sample-template-download-button {
    @extend .common-button-assets;
    display: flex;
    align-items: center;
    color: $white;
    border-color: $indigo2;
    &:hover {
        color: $white;
    }
    @include media-breakpoint-down(lg) {
        justify-content: center;
    }
}

.ppe-use-download-button {
    @extend .common-button-assets;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $keppel;
    border-color: $keppel;
    &:hover {
        color: $keppel;
    }
    @include media-breakpoint-down(lg) {
        justify-content: center;
    }
}

.handwash-techniques-download-button {
    @extend .common-button-assets;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $indigo2;
    border-color: $indigo2;
    &:hover {
        color: $indigo2;
    }
    @include media-breakpoint-down(lg) {
        justify-content: center;
    }
}

.backtolayup-button {
    @extend .common-button-assets;
    color: $white;
    border-color: $indigo2;
    &:hover {
        color: $white;
    }
    @include media-breakpoint-down(md) {
        display: block;
    }
}

.btn-outline-layup {
    @extend .common-button-assets;
    color: $indigo2;
    border-color: $indigo2;
    &:hover {
        color: $indigo2;
        border-color: $indigo2;
    }
    @include media-breakpoint-down(md) {
        display: block;
    }
}