.container {
    padding-top: $spacer * 1.25;
    padding-bottom: $spacer * 1.25;
}

.card-body,
.card-header {
    padding: $spacer * 1.125 $spacer * 1.875;
}

.custom-mt-section {
    margin-top: $spacer * 1.25;
}

.custom-br-card {
    .left-section,
    .right-section {
        .card-header {
            border-top-left-radius: $spacer * 1.25 !important;
            border-top-right-radius: $spacer * 1.25 !important;
        }
        .card-body {
            border-bottom-left-radius: $spacer * 1.25 !important;
            border-bottom-right-radius: $spacer * 1.25 !important;
        }
    }
}

.testing-participant-throughput-section {
    .h5 {
        margin-top: $spacer * 5.375;
        margin-bottom: $spacer * 4.5;
    }
}

.principle-considerations-section {
    .card {
        .card-header {
            border-top-left-radius: $spacer * 1.25 !important;
            border-top-right-radius: $spacer * 1.25 !important;
        }
        .card-body {
            border-bottom-left-radius: $spacer * 1.25 !important;
            border-bottom-right-radius: $spacer * 1.25 !important;
            .row {
                margin-top: $spacer * 1.875;
            }
        }
    }
}

.it-is-not-imperative-section {
    .it-is-not-imperative-right-section {
        border-top-right-radius: $spacer * 1.25;
        border-bottom-right-radius: $spacer * 1.25;
        @include media-breakpoint-down(md) {
            border-bottom-right-radius: 0;
            border-top-left-radius: $spacer * 1.25;
        }
    }
    .it-is-not-imperative-left-section {
        border-top-left-radius: $spacer * 1.25;
        border-bottom-left-radius: $spacer * 1.25;
        @include media-breakpoint-down(md) {
            border-top-left-radius: 0;
            border-bottom-right-radius: $spacer * 1.25;
        }
    }
}

.three-zones-description-section {
    .heading {
        border-radius: $spacer * 1.929 !important; //30.87
        margin-bottom: $spacer * 1.144;
    }
    .description-section {
        min-height: 280px;
        @include media-breakpoint-down(lg) {
            min-height: 333px;
        }
        @include media-breakpoint-down(md) {
            min-height: auto;
        }
    }
}

.testing-participant-area-section,
.staff-donning-and-doffing-area-section,
.staff-area-section,
.it-is-suggested-record-section {
    .card-body {
        padding: $spacer * 1.875 $spacer * 1.875 $spacer * 1.875 $spacer * 3.125;
        @include media-breakpoint-down(sm) {
            padding: $spacer * 1.125 $spacer * 1.875;
        }
    }
}

.the-following-roles-should-be-considered-section,
.workforce-training-section,
.the-process-is-straightforward-section,
.see-this-risk-management-template-section,
.general-section,
.people-and-process-section,
.all-roles-recruited-section,
.supply-and-equipment-section,
.the-correct-stock-is-in-situ-section,
.hazards-section,
.infection-prevention-control-audits-section,
.the-final-clean-section,
.has-had-face-to-face-section {
    .card-body {
        padding: $spacer * 1.875;
        @include media-breakpoint-down(sm) {
            padding: $spacer * 1.125 $spacer * 1.875;
        }
    }
}

.site-walk-around-conducted-section,
.shutting-the-test-site-section {
    .card-body {
        padding: $spacer * 1.706 $spacer * 1.875 $spacer * 2.169 $spacer * 1.875;
        @include media-breakpoint-down(sm) {
            padding: $spacer * 1.125 $spacer * 1.875;
        }
    }
}

.choose-an-environment-that-section,
.create-a-booth-style-environment-section,
.booth-contents-heading-section,
.this-area-is-intended-only-section,
.create-and-enforce-rules-section,
.where-possible-make-this-a-completely-section {
    .card-body {
        padding: $spacer * 1.375 $spacer * 1.875 $spacer * 1.375 $spacer * 3.125;
        @include media-breakpoint-down(sm) {
            padding: $spacer * 1.125 $spacer * 1.875;
        }
    }
}

.site-induction-section {
    .card-body {
        padding: $spacer * 1.563 $spacer * 1.875 $spacer * 1.875 $spacer * 1.875;
        @include media-breakpoint-down(sm) {
            padding: $spacer * 1.125 $spacer * 1.875;
        }
    }
}

.floors-walls-screens-section,
.each-booth-should-have-section,
.a-non-porous-table-section,
.no-personal-items-such-as-phones-section,
.create-a-one-way-system-if-you-green-section,
.staff-sign-in-sheets-section {
    margin-top: $spacer * 2.206;
}

.create-a-booth-style-environment-section,
.booth-contents-heading-section,
.create-and-enforce-rules-section {
    margin-top: $spacer * 3.375;
}

.booth-contents-section {
    margin-top: $spacer * 1.875;
    .h3 {
        margin-top: $spacer * 1.875;
    }
}

.col-d-1 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: $spacer * 0.938;
    padding-left: $spacer * 0.938;
    @include media-breakpoint-up(lg) {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.more-items-mean-more-section {
    margin-top: $spacer * 2.406;
}

.testing-requirements-and-space-section,
.low-throughput-space-requirements-section,
.this-template-will-help-you-section {
    margin-top: $spacer * 1.875;
}

.staff-donning-and-doffing-area-section,
.staff-area-section {
    margin-top: $spacer * 3.75;
}

.maintain-2m-distancing-at-all-times-section,
.maintain-2m-distancing-second-section {
    margin-top: $spacer * 3.313;
}

.see-the-infection-prevention-control-section {
    margin-top: $spacer * 2.031;
}

.there-is-a-minimum-stock-section {
    .h5 {
        margin-top: $spacer * 1.875;
    }
    img {
        border-bottom-right-radius: $spacer * 1.25;
        border-bottom-left-radius: $spacer * 1.25;
    }
}

.plan-this-early-and-no-cost-section,
.quality-and-control-section {
    .card-img-top {
        border-top-right-radius: $spacer * 1.25;
        border-top-left-radius: $spacer * 1.25;
    }
}

.team-leader-section,
.registration-assistant-section,
.registration-assistant-if-your-testing-section,
.this-template-will-help-you-section,
.senior-support-is-vital-section,
.ongoing-section,
.benifits-the-site-leads-section {
    .right-section-card-type-one {
        border-top-left-radius: $spacer * 0.625;
        border-bottom-left-radius: $spacer * 0.625;
        @include media-breakpoint-down(md) {
            border-bottom-left-radius: 0;
            border-top-right-radius: $spacer * 0.625;
        }
    }
    .left-section-card-type-one {
        border-top-right-radius: $spacer * 0.625;
        border-bottom-right-radius: $spacer * 0.625;
        @include media-breakpoint-down(md) {
            border-top-right-radius: 0;
            border-bottom-left-radius: $spacer * 0.625;
        }
    }
}

.queue-cordinator-section,
.testing-assistant-section,
.testing-operative-section,
.cleaners-section,
.for-launch-section,
.know-your-stock-levels-section,
.on-a-daily-basis-note-section,
.these-should-not-be-cumbersome-section,
.infection-prevention-and-control-audit-section,
.mystery-shopper-section,
.internal-opeartional-audit-section,
.cleaning-within-the-test-site-section,
.every-item-the-testing-participant-section,
.red-and-amber-zone-items-section,
.green-zone-cleaning-should-section,
.common-touch-points-section,
.testing-staff-will-come-section {
    .right-section-card-type-two {
        border-top-right-radius: $spacer * 0.625;
        border-bottom-right-radius: $spacer * 0.625;
        @include media-breakpoint-down(md) {
            border-bottom-right-radius: 0;
            border-top-left-radius: $spacer * 0.625;
        }
    }
    .left-section-card-type-two {
        border-top-left-radius: $spacer * 0.625;
        border-bottom-left-radius: $spacer * 0.625;
        @include media-breakpoint-down(md) {
            border-top-left-radius: 0;
            border-bottom-right-radius: $spacer * 0.625;
        }
    }
}

.download-side-left-section {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
        display: block;
        text-align: center;
    }
}

.download-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
        display: block;
        text-align: center;
    }
}

.ppe-use-download-button {
    margin-top: $spacer * 3.313;
}

.handwash-techniques-download-button {
    margin-top: $spacer * 1.625;
}

.to-prevent-or-minimise-any-issues-section {
    .h4 {
        margin-top: $spacer * 3.125;
        margin-bottom: $spacer * 3.656;
    }
    img {
        border-bottom-right-radius: $spacer * 0.625;
        border-bottom-left-radius: $spacer * 0.625;
    }
}

.identify-the-risk-section {
    .numeric-top-card {
        border-top-right-radius: $spacer * 0.625;
        border-top-left-radius: $spacer * 0.625;
        padding: $spacer * 1.875;
        ol {
            padding-inline-start: $spacer * 1.438;
        }
    }
    .paragraph-bottom-card {
        border-bottom-right-radius: $spacer * 0.625;
        border-bottom-left-radius: $spacer * 0.625;
        padding: $spacer * 1.875;
    }
}

.the-below-list-the-minimum-section {
    .below-list-right-section {
        border-top-right-radius: $spacer * 0.625;
        border-bottom-right-radius: $spacer * 0.625;
        @include media-breakpoint-down(md) {
            border-bottom-right-radius: 0;
            border-top-left-radius: $spacer * 0.625;
            justify-content: center;
        }
        .card-body {
            display: flex;
            align-items: flex-end;
            justify-content: left;
            @include media-breakpoint-down(md) {
                justify-content: center;
            }
        }
    }
    .below-list-left-section {
        border-top-left-radius: $spacer * 0.625;
        border-bottom-left-radius: $spacer * 0.625;
        @include media-breakpoint-down(md) {
            border-top-left-radius: 0;
            border-bottom-right-radius: $spacer * 0.625;
        }
    }
}

.make-a-priority-of-maximising-engagement-section,
.implementation-section,
.communication-section,
.remember-to-design-section,
.before-the-test-site-opens-section,
.there-are-a-number-of-tasks-section,
.maintain-adequate-level-of-stock-section,
.to-maintain-operational-effectiveness-section,
.these-audits-will-allow-section,
.we-recommend-the-following-section,
.assuming-a-regular-flow-section,
.booth-cleaning-section,
.red-amber-green-zone-cleaning-section,
.touch-point-cleaning-section,
.pay-attention-to-section,
.ppe-use-section,
.as-a-general-rule-section,
.putting-on-and-taking-off-section,
.handwashing-with-soap-section {
    .card-body {
        padding: $spacer * 2.031 $spacer * 1.875;
    }
}

.ensure-the-test-site-is-easily-section,
.to-control-cross-contamination-section {
    .card-body {
        padding: $spacer * 1.938 $spacer * 1.875 $spacer * 1.675 $spacer * 1.875;
    }
}

.all-testing-staff-and-cleaners-section {
    margin-top: $spacer * 1.288;
}

.all-testing-staff-and-cleaners-section,
.carry-out-the-pre-shift-briefing-section,
.carry-out-an-initial-site-section,
.carry-out-additional-checks-section,
.end-of-day-close-down-section {
    .card-body {
        padding: $spacer * 1.794 $spacer * 1.875 $spacer * 2.138 $spacer * 1.875;
    }
}

.there-are-many-methods-section {
    .paragraph-top-card {
        border-top-right-radius: $spacer * 0.625;
        border-top-left-radius: $spacer * 0.625;
        padding: $spacer * 2.031 $spacer * 1.875 $spacer * 1.706 $spacer * 1.875;
    }
    .ul-bottom-card {
        border-bottom-right-radius: $spacer * 0.625;
        border-bottom-left-radius: $spacer * 0.625;
        padding: $spacer * 2.975 $spacer * 1.875 $spacer * 2.519 $spacer * 1.875;
    }
}

.at-the-end-of-each-day-section,
.do-not-include-stock-already-section,
.allocate-the-daily-stock-control-job-section {
    .card-body {
        padding: $spacer * 2.038 $spacer * 1.875 $spacer * 1.831 $spacer * 1.875;
    }
}

.top-tip-section,
.the-quality-of-cleaning-product-section {
    .card-body {
        padding: $spacer * 3.281 $spacer * 2.838 $spacer * 2.781 $spacer * 2.838;
        @include media-breakpoint-down(sm) {
            padding: $spacer * 3.281 $spacer * 1.875;
        }
        .top-tip-heading {
            margin-bottom: $spacer * 1.894;
        }
    }
}

.cleaning-within-the-test-site-section,
.common-touch-points-section {
    .image-block,
    img {
        border-top-right-radius: $spacer * 0.625;
        border-bottom-right-radius: $spacer * 0.625;
        @include media-breakpoint-down(md) {
            border-bottom-right-radius: 0;
            border-top-left-radius: $spacer * 0.625;
        }
    }
}

.full-ppe-section {
    .card {
        padding: $spacer * 2.531 $spacer * 1.875;
        img {
            margin-bottom: $spacer * 2.813;
        }
    }
}

.if-three-or-more-section {
    .card-body {
        padding: $spacer * 2.031 $spacer * 1.875 $spacer * 1.331 $spacer * 1.875;
    }
}