.bullet-icon-li {
    position: relative;
}

.common-bullet-point {
    display: inline-block;
    left: 0px;
    top: 0px;
    position: absolute;
}

// blue arrow
.bullet-icon-blue-arrow li:before {
    @extend .common-bullet-point;
    content: url('../images/blue-arrow.png');
    height: 8px;
    width: 7px;
}

// blue arrow sub
.bullet-icon-blue-arrow-sub li:before {
    @extend .common-bullet-point;
    content: url('../images/blue-arrow.png');
    height: 8px;
    width: 7px;
    left: 25px;
}

// green arrow
.bullet-icon-green-arrow li:before {
    @extend .common-bullet-point;
    content: url('../images/green-arrow.png');
    height: 8px;
    width: 7px;
}

// tick
.bullet-icon-tick li:before {
    @extend .common-bullet-point;
    content: url('../images/icon-tick.png');
    height: 30px;
    width: 30px;
}

// white dotted
.bullet-icon-dotted li:before {
    @extend .common-bullet-point;
    content: url('../images/icon-dot.png');
    height: 11px;
    width: 11px;
}

// blue dotted
.bullet-icon-blue-dotted li:before {
    @extend .common-bullet-point;
    content: url('../images/icon-blue-dot.png');
    height: 11px;
    width: 11px;
}

// white arrow
.bullet-icon-white-arrow li:before {
    @extend .common-bullet-point;
    content: url('../images/white-arrow.png');
    height: 8px;
    width: 8px;
}

// white arrow
.bullet-icon-white-arrow-sub li:before {
    @extend .common-bullet-point;
    content: url('../images/white-arrow.png');
    height: 8px;
    width: 8px;
    left: 48px;
    top: -2px;
}

// black arrow
.bullet-icon-black-arrow li:before {
    @extend .common-bullet-point;
    content: url('../images/black-arrow.png');
    height: 8px;
    width: 8px;
    top: 5px;
}