.font-weight-medium {
    font-family: 'montserratmedium' !important;
}

.font-weight-semi-bold {
    font-family: 'montserratsemibold' !important;
}

.font-weight-bold {
    font-family: 'montserratbold' !important;
}

.br-sm {
    border-radius: $spacer * 0.625 !important; //10px
}

.br-md {
    border-radius: $spacer * 1.25 !important; //20px
}

.line-height-xl {
    line-height: $line-height-xl !important; //1.875
}

.underline-reset {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.outline-reset {
    outline: none !important;
}

.br-reset {
    border-radius: 0;
}

.cursor {
    cursor: pointer;
}

.h-100vh {
    height: 100vh;
}

.silver-bg-custom {
    background: rgba($silver, 0.3);
}

.silver-bg-custom-second {
    background: rgba($silver, 0.2);
}

.fern-bg-custom {
    background: rgba($fern, 0.2);
}

.burnt-sienna-bg-custom {
    background: rgba($burnt-sienna, 0.3);
}

.tulip-tree-bg-custom {
    background: rgba($tulip-tree, 0.3);
}

.wild-willow-bg-custom {
    background: rgba($wild-willow, 0.3);
}

.banana-mania-bg-custom {
    background: rgba($banana-mania, 0.5);
}

.indigo2-bg-custom {
    background: rgba($indigo2, 0.3);
}